@media only screen and (min-width: 35rem) {
    
:root{

    --fontsizebig: 3vw;
    --fontsizebigish: 2vw;
    --fontsizemed:2vw;
    --fontsmall:2vw;
    --logosize: 9vw;
    --social: 5vw;
    --imgh: 30vw;

}
header div{
    display: block;
}
#conta{
    display: inline-block;
    width: 30vw;
    margin-left: 0px;
    

    
}
#call{
    width: 40%;
    

    display: inline-block;
    margin-left: 10%;
}
#weather div{
    width: 47%;
}
}

